/*------------
    RESET
------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

/*------------
    LAYOUT
------------*/

header {
    background-color: white;
    min-height: 80px;

}

.box-height{
    height: 80px;
}

.col30 {
    width: 30%;
}

.col70 {
    width: 70%;
}

.content-hero {
    position: relative;
    bottom: -80px;
}
/*------------
    UTILITY
------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
    max-width: 1000px;
    margin: 0 auto;
}


.box-header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: white;
}

.box-header2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-header3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
}

.d-f {
    width: 110px;
}

.gap-modify {
    margin-right: 10px;
}

.hero {
    
}

.content-hero {
    display: flex;
}

.padding-b {
    padding-bottom: 30px;
}

.padding-t {
    padding-top: 30px;
}


/*------------
    ELEMENT
------------*/

.primary-button {
    background-color: transparent;
    padding: 9px 17px;
    border: none;
    cursor: pointer;
}

/*------------
     TYPO
------------*/
.heading-hero {
    font-size: 80px;
    padding: 60px 0px 0px 0px;
}
.bg-blue {
    background-color: #0061ff;
}

.txt-white {
    color: white;
}

.greycolor-a {
    color: rgba(70, 70, 70, 0.692);
}

button:hover {
    background-color: #0050d2;
}

.bg-lightblue {
    background-color: #b4d0e7;
}